# dependencies
node_modules/

# expo
.expo/
.expo-shared/
dist/
web-build/
.git_repo/

# native build artifacts
android/
ios/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# macOS / Windows
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
